html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*GENERAL STYLES*/

html {
	font-size: 62.5%;
}

body {
  background: linear-gradient(180deg, #308a73,#222 ,#FFE600 );
  background-size: 600% 600%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  animation: AnimationName 20s ease infinite; }

  @keyframes AnimationName {
  0% {
    background-position: 0% 32%; }
  50% {
    background-position: 100% 69%; }
  100% {
    background-position: 0% 32%; } }


a:visited
{
  color: white;
}

a {
	text-decoration: none;

}

li
{
	list-style: none;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;

}

.wrapper {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	/*border: 1px solid red;*/
  background-color: #fff;
	box-shadow: 0 0 5px #FFD700;
	margin-top: 100px;


}

.wrap
{
  width: 78%;
  margin: 0 auto;

}

img
{
	max-width: 100%;
}

.visuallyhidden:not(:focus):not(:active) 
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
    }

/*GENEARL STYLE END*/

/*SIDE MENU BAR STYLE STARTS*/
.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}
.icon-bar a:visited
{
  color: white;
}

.icon-bar a:hover {
  background-color: rgb(255,165,0);
  transform: translateX(-10%);

}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
/*SIDE MENU BAR STYLE ENDS*/

/*HEADER MENU BAR STYLE START*/
.headerclass
{
	display: flex;
	justify-content: space-around;
	
}
.hello
{
	font-family: 'Pattaya', sans-serif;
	font-family: 'Spicy Rice', cursive;
	font-family: 'Luckiest Guy', cursive;
	font-family: 'Audiowide', cursive;
	display: flex;
	font-size: 6.0rem;
  color: #222;
}

.box
{
	width: 150px;
	height: 110px;
	text-align: center;
	font-size: 1.9rem;
	font-family: 'Playfair Display', serif;
  font-family: 'Josefin Sans', sans-serif;
  background-color: teal;
}

a:visited
{
	color: white;
}

.box:hover
{
	background-color: black;
  transition: all 0.5s ease;
  border: 1px solid tomato;
}

.ac
{
	background-color: teal;
	width: 150px;
	height: 110px;
	padding: 10px;
}

.ac:hover
{
  background-color: black;
  transition: all 0.5s ease;
}
/*HEADER MENU BAR STYLE START*/

/*About style start*/

#main-c {
  margin: 24px auto;
  max-width: 960px;
  padding: 0 24px;
  display: flex;
}

.cover {
    width: 40%;
    padding-right: 28px;
    float: left;
    color: #222;
  }
  .content {
    width: 60%;
    float: right;
    margin: 0;
    padding: 10px;
    color: #222;
  }

.mypic
{
  border: 10px solid #222;
  padding: 15px;
  width: 500px;
  border-radius: 50%;

}

.mypic:hover
{
	opacity: 0.8;
}

.name
{
  font-family: 'Architects Daughter', cursive;
  font-family: 'Rambla', sans-serif;
  font-family: 'Rufina', serif;
  font-family: 'Inika', serif;
  font-family: 'Raleway', sans-serif;
	font-size: 6.0rem;
	letter-spacing: 4px;
  word-spacing: 2px;
  text-align: center;
}

.name::first-letter
{
  background-color: rgb(32,178,170);
	color: palegoldenrod;
	padding: 5px;
	border: 2px solid tomato;
	
}

.last
{
	color: teal;
}

.para1
{
	text-align: justify;
	font-size: 1.7rem;
	font-family: 'Playfair Display', serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.1;
   color: #222;

}


/*About style end*/

/*Footer style start*/

footer
{
	clear: both;
	height: 300px;
	background: teal;
	text-align: center;	
}

.copyright
{
    animation :type 5s steps(21);
    overflow: hidden;
    white-space: nowrap;
    border-right: 8px solid black;
    width: 21ch;
    font-size: 7.0rem;
    padding: 50px;
   text-align: center;
   color: white;

}

@keyframes type
{
   0%
   {
      width: 0ch;
   }

   100%
   {
      width: 21ch;
   }
}

/*Skill Page style start*/

.skill-wrapper {
  width: 100%;
  margin: 0 auto;
}

.skill-container {
  text-align: center;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.singleskill {
  display: inline-block;
  width: 33%;
  background-color: #f3f3f3;
  padding: 25px;
  color: black;
  border-bottom: 5px solid skyblue;
  text-align: center;
}

.singleskillb {
  display: inline-block;
  width: 33%;
  background-color: #f3f3f3;
  padding: 25px;
  color: black;
  text-align: left;
  border-bottom: 5px solid orange;
  text-align: center;
}
h3.skilltitle{
 
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  color: teal;
}
img.skillicon {
  width: 22%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px; 
  
}
.singleskill:hover
{
   background-color: teal;
   transition: all 0.5s ease;
}

.singleskillb:hover
{
   background-color: teal;
   transition: all 0.5 ease;
	
}
.saas
{
	margin-top: 30px;
}
.sa
{
  padding: 8px;
}
.ski
{
  font-size: 4.0rem;
  text-align: center;
  letter-spacing: 2px;
  color: #222;

}

/*Skill page style style ends*/

/*Portofoli style start*/

.pp
{
  text-align: center;
  font-size: 4.0rem;
  color: #222;
}
.Container-port {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.Gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.Gallery-item {
  display: inline-block;
  width: calc(100% / 3);
 
}

figure {
  margin: 0;
  position: relative;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  color: white;
  opacity: 0;
  height: 0;
  line-height: 1.3;
  transition: all .5s;
}

figcaption p{
  text-align: center;
  padding: 0 30px;
  width: 100%;
}

figure:hover figcaption,
figure:focus figcaption {
  opacity: 1;
  height: 100%;
}

figure:focus {
   outline: none;
}

.edu
{
  text-align: center;
  color: #222;
  border: 2px solid teal;
  padding: 25px;
}

.pe
{
  font-size: 1.9rem;
}

/*Portofoli style end*/


/*Contact Style start*/
a:visited
{
  color: #fff;
}
.contactt
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.0rem;
  color: #222;
}
.contactme
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #222;
  padding: 100px;
  font-size: 2.5rem;
}
.contactform {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], 
 #contact textarea, #contact button[type="submit"]
 { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"],  #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover,
  #contact textarea:hover {
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"], #contact button[type="reset"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#009A8A;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover ,#contact button[type="reset"]:hover{
  background:#0CF;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
/*CONTACT STYLE ENDS*/

/*MEDIA QUERY*/

@media only screen and (max-width : 992px)  {

.name
{
  font-size: 2.0rem;
}

.copyright
{
  font-size: 4.0rem;

}

.mypic
{
  height: 400px;
}

.singleskill,
.singleskillb
{
  padding: 10px;
  font-size: 1.4rem;
  width: 48%;
}

.edu
{
  font-size: 1.7rem;
}

.Gallery-item
  {
    width: 50%;
  }
 
}

@media only screen and (max-width : 768px) {

.box
  {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    margin-left: 3px;
    /*width: 100%;*/
  }

  .headerclass,
  .ac
  {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .ac
  {
    width: 100px;
  }

  .para1
  {
    font-size: 1.4rem;
    line-height: 1.9;
  }

  footer
  {
    height: 200px;
  }

  .skill-container {
  text-align: center;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  font-size: 2.0rem;

}

.singleskill, .singleskillb {
    width: 48%;
    margin: 0;

  }

  .saas
  {
    margin-top: 0;
  }


  .Gallery-item
  {
    width: 50%;
  } 
  .contactme
  {
    font-size: 2.0rem;
  }
}

@media only screen and (max-width : 670px) {

.headerclass
{
  display: inline-block;
  display: flex;
  align-items: center;
    flex-direction: column;
    justify-content: center;
}

.box
  {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .icon-bar a
  {
    font-size: 1.8rem;
  }

  .content, .cover
  {
    width: 100%;

  }

  .mypic
  {
    border: none;

  }
  .ac
  {
    width: 100%;
  }
  footer
  {
    padding: 10px;
    height: 200px;
  }
  .copyright
  {
    font-size: 2.5rem;
    padding: 10px;
  }

.singleskill, .singleskillb {
    width: 100%;
    
  }

  .Gallery-item
  {
    width: 100%;
  }

  .edu
  {
    font-size: 1.5rem;
    padding: 5px;
  }

.contactform
{
  max-width: 400px;
}
.contactme
  {
    font-size: 2.0rem;
    }
 
}


@media only screen and (max-width : 375px) {

.content, .cover
  {
    width: 100%;

  }

  .icon-bar a
  {
    font-size: 1rem;
  }


  .mypic
  {
    height: 300px;
  }

  .name
  {
    font-size: 2.0rem;
  }

  .copyright
  {
    padding: 0;
    font-size: 1.9rem;
  }


  footer
  {
    height: 100px;


  }

  .para1
  {
    line-height: 1.4;
  }

  .contactform
{
  max-width: 300px;
}

.ac:hover
{
  background-color: black;
  transition: all 0.5s ease;
}

.contactme
  {
    font-size: 0.8rem;
    }
    
}






